<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link rel="shortcut icon"
          href="{{ favicon }}">
    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="//craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js?bc893"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dynatable.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/json-bind.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.inputmask.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}?={{ version }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/nodep-date-input-polyfill.dist.js') }}"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery.dynatable.css') }}">
        {{ JSGlue.include() }}
        <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/responsive_tabs.css') }}">
    {% endblock %}
    {% block jsvars %}
        <script>
            var current_user = '{{ current_user.first_name }}' + ' ' + '{{ current_user.last_name }}';
            var user_first_name = '{{ current_user.first_name }}';
            var user_last_name = '{{ current_user.last_name }}';
            var user_role = '{{ current_user.role }}';
        </script>
    {% endblock %}
</head>
<title>
    {% block title %}
        Unit Project Information
    {% endblock %}
</title>
<body>
{% macro make_url(view_method, args='') -%}
    {% if view_method == "show_overview_dashboard" %}
        href="{{ url_for(view_method) }}{{ args }}&queries[{{ current_user.role }}]={{ current_user.first_name }}+{{ current_user.last_name }}"
    {% else %}
        href="{{ url_for(view_method) }}{{ args }}"
    {% endif %}
{%- endmacro %}
{% set navigation_bar = [
    ('unit_info', 'index', 'New Unit', ''),
    ('show_overview_dashboard', 'overview', 'Overview', "?sorts[days_to_golive]=1"),
    ('show_userscript_links', 'userscripts', 'Useful Links', '')
] -%}
{% set active_page = active_page|default('index') -%}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Compass FSS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {% for href, id, caption, args in navigation_bar %}
                        <li{% if id == active_page and caption != 'New Unit' %} class="active"{% endif %}><a {{ make_url(href, args) }}>{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
                <div class="col-md-3 col-sm-2">
                    <form class="navbar-form" role="search" action="javascript:goSearch($('#searchBox').val())">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Unit #" id="searchBox">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" >
                                   <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if call_or_get(current_user.is_authenticated) %}
                        <li><a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a></li>
                        &nbsp; | &nbsp;
                        <li><a href="{{ url_for('user.logout') }}">Sign out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user.login') }}">Sign in</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block info_bar %}{% endblock %}

    <div id="main-div" class="with-margins">
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{category}}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}
        <div tabindex="-1" id="flash"></div>

        {% block main %}
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <br/>
    <hr class="no-margins"/>
    <div id="footer-div" class="clearfix with-margins">
        {% block footer %}
            <div class="pull-left">Created by Compass FSS TPA Team</div>
        {% endblock %}
    </div>
{% endblock %}


<!-- Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</hmtl>
