{% extends "base.html" %}
{% set active_page = "overview" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/overview.js') }}?={{ version }}"></script>
{% endblock %}
{% block jsvars %}
    {{ super() }}
    <script>
    var search_txt = '{{ search_text }}';
    var historic = '{{ historic_data }}';
    </script>
{% endblock %}
{% block content %}
<div class="container">
    <label><input type="checkbox" id="include_historic" name="include_historic" {% if historic_data %}checked{% endif %}>Include Archive Data</label>
    </br>
    <label for="assigned-tpa">TPA:</label>
    <select id="assigned-tpa" name="project_analyst">
        <option value="">Select</option>
        {% for tpa in project_analysts %}
            <option value="{{ tpa }}">{{ tpa }}</option>
        {% endfor %}
    </select>
    <label for="assigned-bsm">BSM:</label>
    <select id="assigned-bsm" name="solution_manager">
        <option value="">Select</option>
        {% for bsm in solution_managers %}
            <option value="{{ bsm }}">{{ bsm }}</option>
        {% endfor %}
    </select>
    <table id="tasks_overview" border="1" class="table table-bordered table-hover table-responsive">
        <thead>
        <th data-dynatable-column="unit_number">Unit #</th>
        <th>Unit Name</th>
        <th data-dynatable-column="mid_request_status">MID</th>
        <th data-dynatable-column="cc_order_status">CC Order</th>
        <th data-dynatable-column="cc_boarding_status">FP Boarding</th>
        <th data-dynatable-column="bb_order_status">Broadband</th>
        <th data-dynatable-column="router_order_status">Router Order</th>
        <th data-dynatable-column="router_install_status">Router Install</th>
        <th data-dynatable-column="merchantlink_status">Merchantlink</th>
        <th data-dynatable-column="solution_manager">BSM</th>
        <th data-dynatable-column="project_analyst">TPA</th>
        <th data-dynatable-column="golive_countdown" data-dynatable-sorts="days_to_golive">Go Live</th>
        <th data-dynatable-column="days_to_golive" style="display: none"></th>
        <th data-dynatable-column="project_status" style="display: none"></th>
        </thead>>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}