{% extends "base.html" %}
{% set active_page = "userscripts" %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?utm_source=chrome-ntp-icon" target="_blank"><b>Tampermonkey Chrome Extension</b></a>
        </li>
        <li class="list-group-item">
            <label>Userscript</label>  <a href="https://gist.github.com/WisdomWolf/75f7b65c392f9c77521b31cfa1a517a1/raw/CompassNET_order_robot_contact_info.user.js"  target="_blank">CompassNET Order Robot Contact Info</a>
        </li>
        <li class="list-group-item">
            <label>Userscript</label>  <a href="https://gist.github.com/WisdomWolf/b3dc6cf484f0dab1167e89bac6993b1b/raw/CompassNET_order_robot.user.js"  target="_blank">CompassNET Order Robot</a>
        </li>
        <li class="list-group-item">
            <label>Userscript</label>  <a href="https://gist.github.com/WisdomWolf/9d9df8d8f0c5f5df053f91f4f88754ab/raw/CC_Request.user.js"  target="_blank">CC Request User</a>
        </li>
        <li class="list-group-item">
            <label>Userscript</label>  <a href="https://gist.github.com/WisdomWolf/4d845eaeacd75b26c4c76aab0226709c/raw/PCI_Evaluater.user.js"  target="_blank">PCI Estate Evaluater</a>
        </li>
        <li class="list-group-item">
            <a href="https://bitbucket.org/compass_dataservices/project-dashboard/issues?status=new&status=open"  target="_blank">Report a Bug</a>
        </li>
    </ul>
    <div style="height: 700px"></div>
    <footer>
        <span>Started: {{ last_reload_time }}</span>
    </footer>
{% endblock %}
